@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;600&family=IBM+Plex+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 3.5rem;
}

h2 {
  font-size: 40px;
}

h3 {
  margin: 10px 0;
}

h4 {
  font-size: 16px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
  width: 100px;
  margin: 15px auto;
}

.container {
  max-width: 1140px;
  margin: auto;
}


header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.hero{
  background-image: linear-gradient(rgba(44, 43, 43, 0.5),rgba(44, 43, 43, 0.5)), url(img/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
}
.hero .icons{
  background-color: #fff;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.foot-r{
  margin-right: 200px;
}
.foot-r svg{
  margin-left: 5px;
}

h4::first-letter{
  color: red;
}
.numbers{
  background-image: url(img/numbers.jpg);
  margin-top: 70px;
}


/********* blog page *******/


.blog-content{
  margin-top: 100px;
}
.blog-p img{
  height: 190px;
}
.blog-num{
  margin-top: 0;
}

/******* about page *******/

.about-p{
  margin-top: 150px;
}
.about-us{
  margin-top: 50px;
}
@media  screen and (max-width: 768px) {
  .hero .icons{
    padding: 10px;
  }
  .navbar{
    font-size: 15px;
  }
  .text-hero{
    width: 80%;
    margin-left: 50px;
  }
  .dish-r{
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
   .card {
    width: 35rem !important;
    
  }
  .gal-r{
   flex-direction: column;
   width: 100%;
  }
  .abt-r{
    margin-top: 70px;
  }
  .numbers{
    width: 100%;
    padding: 15px;
    margin-top: 50px;
  }
 .bl-r .card{
  margin: 10px;
 }
 .footer h6, p{
  font-size: 12px;
 }
 .foot-r{
  width: 100px;
 }
 .foot-r svg{
  margin: 1px;
 }
 .foot-r1{
  margin-right: 15px;
 }
 .foot-r2{
  margin-right: 15px;
 }
 .blog-p img{
  height: 115px;
 }
 .blog-num{
  margin-top: 0;
}
}

@media  screen and (max-width: 575px) {
  .header{
    width: 100%;
    align-items: center;
  }
  .text-hero h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
  }
  .hero .icons{
    padding: 2px;
    flex-direction: row;
    bottom: 150px;
    height: 30px;
  }
  .hero svg{
    margin: 15px;
    margin-top: -18px;
  }
   .card{
   margin: 10px;
  }
  .abt-r{
    flex-direction: column;
    align-items: center;
  }
  .abt-r img{
    width: 250px;
    height: auto;
    padding-right: 50px;
  }
   .bl-r .card{
   margin-left: -85px;
  }
   .blog-p img{
  height: 370px;
 }
 .blog-num{
  margin-top: 0;
}
.foot-r{
  margin-left: 50px;
}
.foot-r1{
  margin-top: 1g5px;
}
}